body {
  background-color: #f5e9e4;
  font-family: "Inter", sans-serif;
}

a {
  color: #db6c3d;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}

header {
  border-bottom: 1px solid #f5e9e4;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f5e9e4;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 15px;
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.search-form-button {
  background-color: #db6c3d;
  padding: 15px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  margin: 0 0 0 10px;
}

main {
  padding: 15px 0 0 0;
}

.city {
  margin: 0;
  font-size: 38px;
  line-height: 80px;
}

.weather-details {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.weather-details strong {
  color: #db3c5c;
  font-weight: 600;
  font-size: 16px;
}

.weather-icon-temperature {
  display: flex;
}

.weather-icon {
  height: 80px;
  margin-top: 15px;
}

.weather-temperature {
  font-size: 80px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 15px;
  line-height: 80px;
}

.weather-unit {
  margin-top: 25px;
  font-size: 18px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #db3c5c;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f5e9e4;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
